<!DOCTYPE html>
<html lang="en">

<head>
  <title>URL Shortener Microservice for freeCodeCamp</title>
  <meta name="description"
    content="The second project in the freeCodeCamp Back End Development Certification: Header Parser Microservice">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <main class="container my-5">
    <h1 class="display-3 text-success">URL Shortener Microservice</h1>
    <p class="lead">This app is a url shortener:</p>
    <ol>
      <li>Write the url you want to shorten as a parameter, after /s/</li>
      <li>If you input a valid url, the app will show you a JSON response, with both the original url and the
        short one.</li>
      <li>If you visit the short url, or any other previously created, it will redirect you to the original stored
        url.</li>
    </ol>
    <h2 class="text-success">Cool, huh?</h2>
    <p>You can check it easily:</p>
    <h4>Go to this url and see the JSON output.</h4>
    <p>https://skinny-cub.glitch.me/s/https://rubenvara.io/</p>
    <h4>Or visit this short url to check the redirection:</h4>
    <p>http://skinny-cub.glitch.me/588776</p>
  </main>
</body>

</html>
